body {
  background-color: #FFFFFF;
  margin: 0;
  padding: 0;
  color: #1a1a1a;
}
.container {
      position: relative;
      width: 98%;
      height: 500px;
      background-color: #F9C265;
    }

    .text {
      margin: 0 1rem;
      word-spacing: 2rem;
      position: relative;
      top: 30px;
      left: 90px;
      font-size: 20px;
      font-size: bold;
      color: #000000;
    }
.image {
  position: relative;
}